.calendar-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #354652;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}

.calendar-day {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfb0c1;
    color: #354652;
    cursor: pointer;
    border-radius: 50%;
}

.calendar-day.selected {
    background-color: #354652;
    color: #c7dae6;
}

.event-section {
    display: flex;
    flex-direction: column;
    height: 30vh;
    min-height: 200px;
    border-top: 1px solid #c7dae6;
}

.event-section h3 {
    padding: 10px;
    margin: 0;
}

.event-list-container {
    overflow-y: auto;
    padding: 0 10px;
}

.event-list {
    padding-bottom: 10px;
}

.event {
    margin-bottom: 5px;
}

.event-button {
    margin: 10px;
    padding: 10px;
    background-color: #354652;
    color: #c9d4db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.event-button:hover {
    background-color: #bfb0c1;
    color: #354652;
}

.workout-button {
    background-color: #354652;
    color: #c9d4db;
}

.workout-button:hover {
    background-color: #bfb0c1;
    color: #354652;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #354652;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #c9d4db;
    color: #354652;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
}

.calendar-header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}

.calendar-title {
    text-align: center;
}

.calendar-title h2 {
    margin: 0;
}

.today-button {
    padding: 5px 10px;
    background-color: #bfb0c1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.today-button:hover {
    background-color: #bfb0c1;
}

.calendar-navigation {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.calendar-navigation button {
    padding: 5px 10px;
    background-color: #354652;
    color: #c9d4db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calendar-navigation button:hover {
    background-color: #bfb0c1;
    color: #354652;
}

.event.workout {
    color: #354652;
}

.event.event {
    color: #354652;
}